* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
}

.clear {
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.logo img {
    vertical-align: middle;
}

.header {
    padding: 20px 0;
}

.head-top {
    padding-bottom: 20px;
}

.head-bottom {
    padding-top: 20px;
}

.menu li {
    padding: 8px 15px;
    display: inline-block;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #8e8e8e;
    font-weight: 600;
}

.menu li:hover {
    background-color: #e7e7e7;
}

.menu li.active {
    background-color: #19bd9b;
    border-radius: 3px;
    text-shadow: 0 1px 0 #10816A;
}

.menu li.active a {
    color: #fff;
}

.mobile-menu {
    background-color: #19bd9b;
}

.mobile-menu,
.mobile-menu ul {
    display: none;
}

.mobile-menu a {
    color: #fff;
}

.mobile-menu li {
    display: block;
    padding: 10px;
    border-top: 1px solid #A5A5A5;
    background-color: #00a091;
}

.bar-menu {
    padding: 10px;
}

.mobile-menu ul ul {
    padding: 0 15px;
}

.mobile-menu ul ul li {
    border: none;
}

.bar-menu {
    color: #fff;
}

.welcome h2,
.welcome h3,
.social h3 {
    color: #c3c5c7;
    font-weight: 100;
}

.welcome h3 {
    margin-top: 10px;
}

.social h3 {
    margin-bottom: 10px;
}

.main {
    background-color: #34495e;
    /* overflow: hidden; */
}

.main .container {
    padding: 15px 0;
}

.list-box li {
    text-align: center;
}

.list-box li {
    display: inline-block;
    width: 22%;
    margin: 1%;
    padding-left: 10px;
}

.list-box .thumb img {
    vertical-align: middle;
}

.list-box .des {
    text-align: center;
    margin: 15px 0;
}

.list-box h4 {
    color: #fff;
    font-weight: unset;
    padding-bottom: 5px;
}

.list-box h5 {
    color: #b3b3b3;
    font-weight: unset;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content {
    top: 100%;
    right: 0;
}

.dropdown-content li {
    display: block;
}

.dropdown.show,
.dropdown-content li:hover {
    background-color: #ddd
}

.footer-menu li {
    display: inline-block;
    padding-left: 15px;
}

.footer-menu a {
    color: #5984b6;
}

.footer-top {
    padding: 15px 0;
}

.footer-bottom {
    padding: 15px 0;
}

.footer-box {
    float: left;
    width: 25%;
    padding: 15px;
}

.footer-box h3 {
    padding-bottom: 10px;
    font-weight: 100;
    color: #c0c0c0;
}

.comment {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 5px 0;
}

.about-us,
.post {
    padding-bottom: 15px;
}

.about-us p,
.post p,
.comment {
    color: #a0a0a0;
}

.flickr li {
    width: 16.3333%;
    margin: 0 20px 4px 0;
}

.border-line {
    border: 1px solid #e7e7e7;
}

.icon a:hover {
    zoom: 1;
    opacity: 0.7;
}

@media (max-width: 575.98px) {
    .welcome h2,
    .welcome h3,
    .social h3 {
        font-size: small;
    }
}

@media (max-width: 767.98px) {
    .list-box li {
        width: 47%;
    }
}

@media (max-width: 991.98px) {
    .logo,
    .head-bottom {
        text-align: center;
    }

    .menu,
    .logo,
    .welcome,
    .social,
    .footer-box,
    .copyright,
    .footer-menu {
        float: none;
    }

    .head-bottom {
        padding: 0;
    }

    .logo {
        padding: 15px;
    }
    
    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .social {
        margin-top: 3%;
    }

    .footer-box {
        width: 100%;
    }

    .footer-bottom {
        text-align: center;
    }

    .copyright,
    .footer-menu {
        padding: 10px 0;
    }
}

@media (max-width: 1199.98px) {
    .container {
        width: 95%;
    }
}

@media (min-width: 1200px) {
    .list-box {
        margin: 0 auto;
        width: 85%;
    }
}